<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="data:,">
    <meta name="robots" content="noarchive">
    {% if page.noindex %}
    <meta name="robots" content="noindex">
    {% endif %}
    <title>{{ page.title }}</title>
{% include article/static/css.html %}
{% include article/static/js.html %}
{% include ads-script.html %}
{% include umami.html %}
{% include 51la.html %}
</head>