<div class="card">
    <div class="card-title">
        <li>AI</li>
    </div>
    <div class="card-content">
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.doubao.com">豆包</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://yuanbao.tencent.com/chat">腾讯元宝</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://chat.deepseek.com/">DeepSeek</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://chatglm.cn">智谱清言</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://kimi.moonshot.cn/">Kimi</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.wenxiaobai.com">问小白</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.cueme.cn/">Cueme</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://chat.mistral.ai/chat">Mistral AI</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://copilot.microsoft.com/">Microsoft Copilot</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gemini.google.com">Google Gemini</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://poe.com/">Poe</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.perplexity.ai/">Perplexity</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://github.com/copilot">Github Copilot</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://tongyi.aliyun.com/lingma/download">通义灵码</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.marscode.cn/">MarsCode</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://copilot.tencent.com/">CodeBuddy</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://ai-bot.cn/">AI工具集</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://ai-kit.cn/">AI工具箱</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://aibang.run/">AI帮个忙</a></li>
    </div>
</div>