<div class="card">
    <div class="card-title">
        <li>AI</li>
    </div>
    <div class="card-content">
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.doubao.com">豆包</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://yuanbao.tencent.com/chat">腾讯元宝</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://chat.deepseek.com/">DeepSeek</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://chatglm.cn">智谱清言</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.kimi.com">Kimi</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://ai.dangbei.com/chat">当贝AI</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.wenxiaobai.com">问小白</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://chat.mistral.ai/chat">Mistral AI</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://copilot.microsoft.com/">Microsoft Copilot</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gemini.google.com">Google Gemini</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://poe.com/">Poe</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.perplexity.ai/">Perplexity</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.perplexity.ai/finance">Perplexity Finance</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://github.com/copilot">Github Copilot</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://qoder.com">Qoder</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://trae.ai">Trae</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.codebuddy.com/">CodeBuddy</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://ai-bot.cn/">AI工具集</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://ai-kit.cn/">AI工具箱</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://aibang.run/">AI帮个忙</a></li>
    </div>
</div>