<div>
    <ul>
        <li><a target="_blank" rel="noopener nofollow" href="/article/">博客播客</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://hiwannz.com/">见字如面</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.zhihu.com/people/xingzouzaimolu">行走在陌路</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://young.zhubai.love/">1000小食报</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://decohack.zhubai.love/">独立产品灵感周刊</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://travellings.link/">开往-友链接力</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.foreverblog.cn/go.html">虫洞-随机访问十年之约成员博客</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.foreverblog.cn/feeds.html">十年之约专题展示</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://jhuo.ca/">HuoJu's BLOG</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://lutaonan.com/blog/">Randy's Blog</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://shellc.cn/">日誌 | 蟹壳</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://shunyu.wang/">Shy Wang</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.ruanyifeng.com/blog/weekly/">科技爱好者周刊</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://coke.do/">可乐周报 | Revue</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://crazy.capital/">疯投圈</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.xiaoyuzhoufm.com/podcast/5ebcf445418a84a046c2e26d">来都来了</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.xiaoyuzhoufm.com/podcast/61dd99a47b29652ff572257b">起朱楼宴宾客</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://thatisbiz.fireside.fm/">商业就是这样</a></li>
    </ul>
</div>
