<div class="card">
    <div class="card-title">
        <li><a target="_blank" href="/article/">博客播客</a></li>
    </div>
    <div class="card-content">
        <li><a target="_blank" rel="noopener nofollow" href="https://www.ruanyifeng.com/blog/weekly/">科技爱好者周刊</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow" href="https://www.williamlong.info/">月光博客</a></li> -->
        <li><a target="_blank" rel="noopener nofollow" href="https://www.zhihu.com/people/xingzouzaimolu">行走在陌路</a></li>
        <li><a target="_blank" href="/article/newsletter.html">【Newsletter合集】</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://hiwannz.com/">见字如面</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://pandaychen.github.io/">熊喵君的博客</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://chende.ren/">闪电侠的小笔记</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://blog.devtang.com/">唐巧的博客</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://battlele.com/">Battle Le 博客</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow" href="https://darmau.design/">可可托海没有海</a></li> -->
        <li><a target="_blank" rel="noopener nofollow" href="https://jhuo.ca/">HuoJu's BLOG</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://joojen.com/">Joojen</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://justinyan.me/">枫言枫语</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://lutaonan.com/">Randy's Blog</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.hitzhangjie.pro/blog/">Kn's Blog</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://pmthinking.com/">产品沉思录</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://shellc.cn/essays/">日誌 | 蟹壳</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://shunyu.wang/">Shy Wang</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://log.toast.pub/">Pangzi's Xlog</a></li>
        <li><a target="_blank" href="/article/podcast.html">【播客合集】</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://crazy.capital/">疯投圈</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://xyzrank.com/#/">播客中文榜</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://thatisbiz.fireside.fm/">商业就是这样</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.xiaoyuzhoufm.com/podcast/5ebcf445418a84a046c2e26d">来都来了</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.xiaoyuzhoufm.com/podcast/61dd99a47b29652ff572257b">起朱楼宴宾客</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow" href="https://www.xiaoyuzhoufm.com/podcast/6327267111861a8f7e32385c">油条配咖啡YwC</a></li> -->
        <li><a target="_blank" rel="noopener nofollow" href="https://www.travellings.cn/go.html">开往-友链接力</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.foreverblog.cn/go.html">虫洞-随机访问十年之约成员博客</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.foreverblog.cn/feeds.html">十年之约专题展示</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://firewood.news/">积薪</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://art.huaban.com/">花瓣 Not Interested</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow" href="https://feeddd.org/feeds">Feeddd 之 RSS 订阅源</a></li> -->
    </div>
</div>
