<div class="card">
    <div class="card-title">
        <li><a target="_blank" href="/article/">文章</a></li>
    </div>
    <div class="card-content">
        <li><a target="_blank" rel="noopener nofollow" href="https://www.ruanyifeng.com/blog/weekly/">科技爱好者周刊</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://v2ex-create.nexmm.com/">分享创造日报</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.zhihu.com/people/xingzouzaimolu">行走在陌路</a></li>
        <li><a target="_blank" href="/article/newsletter.html">【Newsletter合集】</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://battlele.com/">Battle Le 博客</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://blog.devtang.com/">唐巧的博客</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://chende.ren/">闪电侠的小笔记</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://colobu.com/">[Go]鸟窝</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://go.dev/doc/devel/release">[Go]Release History</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://gopher-daily.com/">[Go]Gopher Daily</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://hiwannz.com/">见字如面</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://jhuo.ca/">HuoJu's BLOG</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://joojen.com/">Joojen</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://justinyan.me/">枫言枫语</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://log.toast.pub/">Pangzi's Xlog</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://lutaonan.com/">Randy's Blog</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://onojyun.com/">莫比乌斯</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://pandaychen.github.io/">熊喵君的博客</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://quail.ink/firewood">烽火</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://shellc.cn/essays/">日誌 | 蟹壳</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://shunyu.wang/">Shy Wang</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://telemetry.go.dev/">[Go]Telemetry</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://tonybai.com">[Go]Tony Bai</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://world.hey.com/xiaowen">Xiaowen Zhang</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.hitzhangjie.pro/blog/">Kn's Blog</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.woshipm.com/u/258458">围炉喝茶聊产品</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://zhiyou.smzdm.com/member/9674309982/">可爱的小cherry</a></li>
        <li><a target="_blank" href="/article/podcast.html">【播客合集】</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://xyzrank.com/#/">播客中文榜</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://art.huaban.com/">花瓣 Not Interested</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://crazy.capital/">疯投圈</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://thatisbiz.fireside.fm/">商业就是这样</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.foreverblog.cn/feeds.html">十年之约专题展示</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.foreverblog.cn/go.html">虫洞-随机访问十年之约成员博客</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.travellings.cn/go.html">开往-友链接力</a></li>
        <li>【其他】</li>
        <li><a target="_blank" rel="noopener nofollow" href="https://dccxi.com/trust/">信任的进化</a></li>
    </div>
</div>