<div>
    <ul>
        <li>>> 浏览器</li>
        <li>
            {% include nav/content/recommand-svg.html %}
            <img src="/assets/img/firefox.ico" alt="icon" height="18">
            <a onclick="LA.track('link_click');" target="_blank" rel="noopener" href="https://blog.ypingcn.com/special/firefox/resource/">火狐浏览器</a>
            <a onclick="LA.track('link_click');" target="_blank" rel="noopener nofollow" title="快速下载最新 Firefox 火狐浏览器国际中文版" href="https://ypingcn.com/go/out?r=firefox-lastest-zhcn">[最新版]</a>
            <a onclick="LA.track('link_click');" target="_blank" rel="noopener nofollow" title="快速下载最新 Firefox 火狐浏览器长期支持版" href="https://ypingcn.com/go/out?r=firefox-esr-zhcn">[长期支持版]</a>
            <a onclick="LA.track('link_click');" target="_blank" rel="noopener nofollow" href="https://privacytests.org/">[浏览器保护功能对比]</a>
        </li>
        <li>
            <img src="/assets/img/librewolf.ico" alt="icon" height="18">
            <a onclick="LA.track('link_click');" target="_blank" rel="noopener nofollow" href="https://librewolf.net/">Librewolf 浏览器</a>
            <a onclick="LA.track('link_click');" target="_blank" rel="noopener nofollow" title="快速下载最新 Librewolf 浏览器" href="https://ypingcn.com/go/out?r=librewolf-windows-lastest">[最新版]</a>
        </li>
        <li>
            <a onclick="LA.track('link_click');" target="_blank" rel="noopener nofollow" href="https://floorp.ablaze.one/en/">Floorp 浏览器</a>
            <a onclick="LA.track('link_click');" target="_blank" rel="noopener nofollow" title="快速下载最新 Floorp 浏览器" href="https://ypingcn.com/go/out?r=floorp-windows-lastest">[最新版]</a>
        </li>
        <li>
            <a onclick="LA.track('link_click');" target="_blank" rel="noopener nofollow" href="https://vivaldi.com/">Vivaldi 浏览器</a>
            <a onclick="LA.track('link_click');" target="_blank" rel="noopener nofollow" title="快速下载最新 Vavaldi 浏览器" href="https://ypingcn.com/go/out?r=vivaldi-lastest">[最新版]</a>
        </li>
    </ul>
</div>
