<div class="card">
    <div class="card-title">
        <li>浏览器</li>
    </div>
    <div class="card-content">
        <li>
            {% include nav/content/recommand-svg.html %}
            <img src="/assets/img/firefox.ico" alt="icon" height="18">
            <a target="_blank" rel="noopener" href="https://blog.ypingcn.com/special/firefox/resource/">火狐浏览器</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" title="快速下载最新 Firefox 火狐浏览器国际中文版" href="/go/out?r=firefox-lastest-zhcn">最新中文版</a>
                <a target="_blank" rel="noopener nofollow" title="快速下载最新 Firefox 火狐浏览器长期支持版" href="/go/out?r=firefox-esr-zhcn">长期支持版</a>
            </sup>
        </li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://librewolf.net/">Librewolf 浏览器</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" title="快速下载最新 Librewolf 浏览器" href="/go/out?r=librewolf-windows-lastest">最新版</a>
            </sup>
        </li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://vivaldi.com/">Vivaldi 浏览器</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" title="快速下载最新 Vavaldi 浏览器" href="/go/out?r=vivaldi-lastest">最新版</a>
            </sup>
        </li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://www.waterfox.net/">WaterFox 浏览器</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" title="快速下载最新 WaterFox 浏览器" href="/go/out?r=waterfox-windows-lastest">最新版</a>
            </sup>
        </li>
        <!-- <li>
            <a target="_blank" rel="noopener nofollow" href="https://floorp.app/en/">Floorp 浏览器</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" title="快速下载最新 Floorp 浏览器" href="/go/out?r=floorp-windows-lastest">最新版</a>
            </sup>
        </li> -->
    </div>
</div>
