<div class="card">
    <div class="card-title">
        <li>沟通办公</li>
    </div>
    <div class="card-content">
        <li>
            <img src="/assets/img/qqdocs.ico" alt="icon" height="18">
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://docs.qq.com/">腾讯文档</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://tapd.cn/">TAPD</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://work.weixin.qq.com/">企业微信</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.feishu.cn/">飞书</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.dingtalk.com/">钉钉</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.qq.com/">QQ邮箱</a></li>
        <li>
            {% include nav/content/recommand-svg.html %}
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.qq.com/cgi-bin/loginpage?t=fox_loginpage">Foxmail</a>
        </li>
        <li>
            <img src="/assets/img/netease.ico" alt="icon" height="18">
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.163.com/">网易邮箱</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gmail.com/">Gmail</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://outlook.com/">Outlook</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.proton.me/">ProtonMail</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.tm/">Mail.tm</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://social.vivaldi.net/">Vivaldi Social(Mastodon)</a></li> -->
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mozilla.social/">Mozilla Social(Mastodon)</a></li> -->
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://twitter.com/">Twitter</a></li>
        <li>
            <img src="/assets/img/weibo.ico" alt="icon" height="18">
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://weibo.com/">新浪微博</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://im.qq.com/">QQ</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://wx.qq.com">微信网页版</a>
            <sup>
                <a target="_blank" rel="noopener nofollow noreferrer" href="https://pc.weixin.qq.com/">[PC客户端]</a>
            </sup>
        </li>
    </div>
</div>