<div class="card">
    <div class="card-title">
        <li>沟通</li>
    </div>
    <div class="card-content">
        <li>【办公】</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://tower.im/">Tower</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.tapd.cn">TAPD</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://docs.feishu.cn/">飞书文档</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://docs.qq.com/">腾讯文档</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://meeting.tencent.com/">腾讯会议</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://work.weixin.qq.com/">企业微信</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.dingtalk.com/">钉钉</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.feishu.cn/">飞书</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://shimo.im/">石墨文档</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.kdocs.cn/">金山文档</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.yuque.com/">语雀</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://processon.com/">ProcessOn</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.plantuml.com/">PlantUML</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://excalidraw.com/">Excalidraw</a>
            <sup>
                <a target="_blank" rel="noopener nofollow noreferrer" href="https://draw.0voice.com/">[1]</a>
            </sup>
        </li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://pan.baidu.com/">百度网盘</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.alipan.com/">阿里云盘</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.115.com/">115网盘</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.teambition.com/">Teambition</a></li>
        <li>【邮箱】</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gmail.com/">Gmail</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.163.com/">网易邮箱</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.proton.me/">ProtonMail</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.qq.com/">QQ邮箱</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.qq.com/cgi-bin/loginpage?t=fox_loginpage">Foxmail</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.tm/zh/">Mail.tm</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://outlook.com/">Outlook</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.sina.com.cn/">新浪邮箱</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.sohu.com/">搜狐邮箱</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://mail.21cn.com/">21CN邮箱</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://exmail.qq.com/login">腾讯企业邮箱</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://qiye.aliyun.com/?lang=zh_CN">阿里企业邮箱</a></li>
        <li>【社交】</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://x.com/">Twitter</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://instagram.com/">Instagram</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://v2ex.com/">V2EX</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://weibo.com/">微博</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://zhihu.com/">知乎</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://weread.qq.com/">微信读书</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://im.qq.com/">QQ</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://wx.qq.com">微信网页版</a>
            <sup>
                <a target="_blank" rel="noopener nofollow noreferrer" href="https://pc.weixin.qq.com/">[PC]</a>
                <a target="_blank" rel="noopener nofollow noreferrer" href="https://filehelper.weixin.qq.com/">[文件传输助手]</a>
            </sup>
        </li>
    </div>
</div>