<div style="text-align: center;">
    <li>
        混沌书签，一个提高效率、分享优质信息与资源收藏的简洁导航 © 2022 ~ 2025 
    </li>
    <br>
    <li>
        <a href="https://blog.ypingcn.com/wiki/about/?utm_source=bookmark-nav&utm_medium=footer&utm_campaign=promotion">ypingcn</a>|<a 
            href="/article/?utm_source=bookmark-nav&utm_medium=footer&utm_campaign=promotion">文章集合</a>|<a 
            href="/spa/?utm_source=bookmark-nav&utm_medium=footer&utm_campaign=promotion">工具合集</a>|<a 
            href="/article/category.html?utm_source=bookmark-nav&utm_medium=footer&utm_campaign=promotion">网站地图</a>
    </li>
</div>