<div class="card">
    <div class="card-title">
        <li><a target="_blank" href="/article/entertainment.html">娱乐</a></li>
    </div>
    <div class="card-content">
        <li><a target="_blank" href="/article/douban.html">【豆瓣合集】</a></li>
        <li><a target="_blank" href="/article/bilibili.html">【B站合集】</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.bilibili.com/">Bilibili</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.bilibili.com/watchlater/#/list">B站稍后再看</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://ddys.pro/">低端影视</a></li> -->
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.douban.com/">豆瓣</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://movie.douban.com/">豆瓣电影</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://music.163.com">网易云音乐</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://v.qq.com/">腾讯视频</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.douyin.com/">抖音</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.iqiyi.com">爱奇艺</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.ixigua.com/">西瓜视频</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.mgtv.com/">芒果TV</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.qingting.fm/">蜻蜓FM</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.xiaoyuzhoufm.com/">小宇宙</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.ximalaya.com/">喜马拉雅</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.youku.com">优酷</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.youtube.com/">Youtube</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.kuaishou.com/">快手</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.xiaohongshu.com/">小红书</a></li>
    </div>
</div>