<div>
    <ul>
        <li><a target="_blank" href="/article/entertainment.html">>> 娱乐消遣</a></li>
        <li><a target="_blank" href="/article/bilibili.html">【B站】</a></li>
        <li>【豆瓣】</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.douban.com/group/596383/">学校那些事</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.douban.com/group/648435/">用利息生活</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.douban.com/group/652373/">吸狗小组</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.douban.com/group/658837/">互助回忆小组</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.douban.com/group/687707/">社会性死亡</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.douban.com/group/690523/">FIRE生活</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.douban.com/group/710678/">日常注重边界感</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.douban.com/group/myjob/">上班这件事</a></li>
    </ul>
</div>