<div>
    <ul>
        <li>财经数据</li>
        <li><a target="_blank" rel="noopener nofollow" href="https://xueqiu.com">雪球</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jisilu.cn/data/cbnew/#pre">待发转债</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jisilu.cn/data/new_stock/#apply">新股申购</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://data.eastmoney.com/xg/gh/default.html">新股上会</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://funddb.cn/tool/fear">恐惧贪婪指数</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://legulegu.com/stockdata/china-10-year-bond-yield">十年期国债利率倒数与A股PE中位数</a></li>
        <li>
                    <a target="_blank" rel="noopener nofollow" href="https://funddb.cn/site/fed">股债性价比</a>
                    <a target="_blank" rel="noopener nofollow" href="https://www.kancaibao.com/ep">1</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.csindex.com.cn/#/indices/family/detail?indexCode=H11136">中国互联成分</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.palmmicro.com/woody/res/chinainternetcn.php">海外中国互联网基金净值计算工具</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.palmmicro.com/woody/res/hstechcn.php">恒生科技指数基金净值计算工具</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.palmmicro.com/woody/res/hangsengcn.php">恒生指数基金净值计算工具</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://xueqiu.com/S/KWEB">KWEB</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://xueqiu.com/S/HKHSI">恒生综指</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://xueqiu.com/S/HKHSHCI">恒生医疗保健指数</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://xueqiu.com/S/.NBI">纳斯达克生物科技</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://xueqiu.com/S/HKHSTECH">恒生科技</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.hsi.com.hk/schi/indexes/all-indexes/hstech">[成分]</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/gonggao/dingqibaogao.html">基金定期报告</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://qieman.com/idx-eval">指数估值</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://danjuanapp.com/djmodule/value-center">估值排行</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.zsxg.cn/stock/000001.SZ">芝士财富</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.iwencai.com/unifiedwap/home/index">同花顺问财</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.amac.org.cn/researchstatistics/datastatistics/mutualfundindustrydata/">公募基金行业数据</a></li>
        <li>【网络大V】</li>
        <li><a target="_blank" rel="noopener nofollow" href="https://xueqiu.com/u/6146592061">持有封基</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://xueqiu.com/u/8554675668">基民柠檬</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://xueqiu.com/u/1314783718">饕餮海</a></li>
    </ul>
</div>