<div class="card">
    <div class="card-title">
        <li><a target="_blank" href="/article/finance.html">财经数据</a></li>
    </div>
    <div class="card-content">
        <li>【市场情况】</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com">雪球</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.jisilu.cn/data/cbnew/#pre">待发转债</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.jisilu.cn/data/etf/#index">指数ETF</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.jisilu.cn/data/qdii/#qdiie">T+0 QDII</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.jisilu.cn/data/new_stock/#apply">新股申购</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://data.eastmoney.com/xg/gh/default.html">新股上会</a></li>
        <li>【估值判断】</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://funddb.cn/tool/fear">恐惧贪婪指数</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://legulegu.com/stockdata/china-10-year-bond-yield">十年期国债利率倒数与A股PE中位数</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://funddb.cn/site/fed">股债性价比</a>
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://www.kancaibao.com/ep">大盘PE股债比</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://youzhiyouxing.cn/data">有知有行温度计</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.jisilu.cn/data/indicator/">集思录A股温度计</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://danjuanapp.com/djmodule/value-center">雪球基金估值排行</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://qieman.com/idx-eval">且慢指数估值</a></li>
        <li>【指数表现】</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com/S/SH000922">中证红利</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-000300">沪深300</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-000905">中证500</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-000852">中证1000</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-000510">中证A500</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-399006">创业板指</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-399989">中证医疗</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-399933">中证医药</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-000993">全指信息</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-000991">全指医药</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-399812">中证养老</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-000932">中证消费</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gushitong.baidu.com/index/ab-000016">上证50</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com/S/SH000510">中证A500</a></li> -->
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com/S/SH000300">沪深300</a></li> -->
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com/S/SH000905">中证500</a></li> -->
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com/S/SH000852">中证1000</a></li> -->
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com/S/SZ399006">创业板指</a></li> -->
        <li>
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com/S/HKHSTECH">恒生科技</a>
            <sup>
                <a target="_blank" rel="noopener nofollow noreferrer" href="https://www.hsi.com.hk/schi/indexes/all-indexes/hstech">[成分]</a>
            </sup>
            <sup>
                <a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com/S/07226">[两倍做多]</a>
            </sup>
            <sup>
                <a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com/S/07552">[两倍做空]</a>
            </sup>
        </li>
        <li>
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://xueqiu.com/S/KWEB">KWEB</a>
            <sup>
                <a target="_blank" rel="noopener nofollow noreferrer" href="https://www.csindex.com.cn/#/indices/family/detail?indexCode=H11136">[成分]</a>
            </sup>
        </li>
        <li>【净值估算】</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.palmmicro.com/woody/res/chinainternetcn.php">海外中国互联网</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.palmmicro.com/woody/res/hstechcn.php">恒生科技指数</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.palmmicro.com/woody/res/hangsengcn.php">恒生指数</a></li>
        <li>【数据分析】</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.iwencai.com/unifiedwap/home/index">同花顺问财</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://etf.misea.top/">ETF工具箱</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="/article/fund.html">【基金观察池】</a></li>
        <li>【信息披露】</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://fund.eastmoney.com/gonggao/dingqibaogao.html">基金定期报告</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.amac.org.cn/sjtj/datastatistics/fundindustrydata/">公募基金行业数据</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.amac.org.cn/sjtj/datastatistics/fundsalesindustrydata/">基金销售机构公募基金销售保有规模</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.amac.org.cn/fwdt/wyc/jgcprycx/cpcx/PensionFundBusiness/">个人养老金基金名录</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://gs.amac.org.cn/amac-infodisc/res/pof/person/personList.html">基金从业人员资格注册信息</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://neris.csrc.gov.cn/alappl/home/toPubFlow">证监会行政许可网上办理审批进度公示</a></li>
    </div>
</div>