<div>
    <ul>
        <li>基金观察</li>
        <li>【主动权益】</li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/002708.html">大摩健康产业混合A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/000727.html">融通健康产业灵活配置混合A/B</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/519915.html">富国消费主题混合A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/001513.html">易方达信息产业混合</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/110022.html">易方达消费行业股票</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/163406.html">兴全合润混合(LOF)</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/013426.html">贝莱德中国新视野混合A</a></li>
        <li>【平衡型】</li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/110012.html">易方达科汇灵活配置混合</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/002087.html">国富新机遇混合A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/002057.html">中银新机遇混合A</a></li>
        <li>【债券型】</li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/003949.html">兴全稳泰债券A</a></li>
        <li>【指数型】</li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/000942.html">广发信息技术联接A</a></li>    
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/014424.html">博时恒生医疗保健ETF发起式联接(QDII)A</a></li>     
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/100032.html">富国中证红利指数增强A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/000478.html">建信中证500指数增强A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/001180.html">广发医药卫生联接A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/000968.html">广发养老指数A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/001051.html">华夏上证50ETF联接A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/004752.html">广发中证传媒ETF联接A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/001469.html">广发中证全指金融地产联接A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/502010.html">易方达中证全指证券公司指数(LOF)A</a></li>
        <li>【2208观察】</li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/550002.html">中信保诚精萃成长混合A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/006527.html">富国优质发展混合A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/014412.html">招商核心竞争力混合A</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/519756.html">交银国企改革灵活配置混合</a></li>
        <li>【基金经理】</li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/manager/30411926.html">王海峰</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/manager/30532811.html">杨嘉文</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/manager/30075384.html">张清华</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/manager/30132431.html">沈楠</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fund.eastmoney.com/manager/30072863.html">朱红裕</a></li>
    </ul>
</div>