<div class="card">
    <div class="card-title">
        <li>资讯</li>
    </div>
    <div class="card-content">
        <li><a target="_blank" rel="noopener nofollow" href="https://36kr.com/">36氪</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://sspai.com/">少数派</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://tophub.today/">今日热榜</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.huxiu.com/">虎嗅网</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.ifanr.com/">爱范儿</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://readhub.cn/">Readhub</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.qbitai.com/">量子位</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.yicai.com/">第一财经</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.appinn.com/">小众软件</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.ithome.com/">IT之家</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.pingwest.com/">品玩</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.tmtpost.com/">钛媒体</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://daily.zhihu.com/">知乎日报</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://letschuhai.com/">36氪出海</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jiemian.com/">界面新闻</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.suredian.com/">速热点</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.21jingji.com/">21经济</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://finance.ifeng.com/">凤凰财经</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://wallstreetcn.com/">华尔街见闻</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.cbndata.com/">CBNData</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.landiannews.com/">蓝点网</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.myzaker.com/">ZAKER新闻</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.solidot.org/">Solidot</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://linux.do/c/news/34">LINUX DO</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.zhihu.com/billboard">知乎热榜</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.xiaohongshu.com/explore">小红书</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.latepost.com/site/index">晚点POST</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.thepaper.cn/channel_25951">澎湃财经</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://zhuanlan.zhihu.com/ilovefirefox">Firefox 信仰充值中心</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://kite.kagi.com/linux_oss?data_lang=zh-Hans">Kagi Kite</a></li>
    </div>
</div>