<div>
    <ul>
        <li>网站设置</li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://adssettings.google.com/authenticated">谷歌广告个性化设置</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.google.com/adsense/new/u/0/pub-6252206902371079/home">AdSense</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://search.google.com/search-console/insights/u/0">Search Console Insights</a></li>
    </ul>
</div>