<div>
    <ul>
        <li>>> 上网保护</li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://www.kaspersky.com.cn/free-antivirus">杀毒</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.huorong.cn/">[火绒]</a>
        </li>
        <li>
            【可疑文件扫描】
            <a target="_blank" rel="noopener nofollow" href="https://www.virustotal.com/gui/home/upload">VirusTotal</a>
            <a target="_blank" rel="noopener nofollow" href="https://virusscan.jotti.org/zh-CN/scan-file">Jotti</a>
            {% include nav/content/recommand-svg.html %}
            <a target="_blank" rel="noopener nofollow" href="https://s.threatbook.cn/">微步</a>
            <a target="_blank" rel="noopener nofollow" href="https://opentip.kaspersky.com/">Kaspersky Threat Intelligence</a>
            <a target="_blank" rel="noopener nofollow" href="https://metadefender.opswat.com/">MetaDefender</a>
            <a target="_blank" rel="noopener nofollow" href="https://sandbox.freebuf.com/detect">大圣云沙箱检测系统</a>
            <a target="_blank" rel="noopener nofollow" href="https://ata.360.net/detection">360沙箱云</a>
            <a target="_blank" rel="noopener nofollow" href="https://sandbox.ti.qianxin.com/sandbox/page">奇安信</a>
            <a target="_blank" rel="noopener nofollow" href="https://mogua.co/">可疑APP分析</a>
            <a target="_blank" rel="noopener nofollow" href="https://ti.360.net/#/homepage">360威胁情报</a>
            <a target="_blank" rel="noopener nofollow" href="https://ti.dbappsecurity.com.cn/">安恒威胁情报</a>
            <a target="_blank" rel="noopener nofollow" href="https://ti.duba.net/">鹰眼威胁情报</a>
            <a target="_blank" rel="noopener nofollow" href="https://ti.nsfocus.com/">绿盟威胁情报</a>
            <a target="_blank" rel="noopener nofollow" href="https://ti.qianxin.com/">奇安信威胁情报</a>
            <a target="_blank" rel="noopener nofollow" href="https://ti.rising.com.cn/home">瑞星威胁情报</a>
            <a target="_blank" rel="noopener nofollow" href="https://tix.qq.com/">腾讯威胁情报</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.antiycloud.com/#/antiy/index">安天威胁情报</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.venuseye.com.cn/">启明威胁情报</a>
            <a target="_blank" rel="noopener nofollow" href="https://x.threatbook.com/">微步威胁情报</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.privacytools.io/secure-password-manager/">密码安全软件</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.privacytools.io/windows/">Windows隐私工具</a> </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://statistics.securelist.com/">SecureList安全数据</a> </li>
        <li>
            【浏览器指纹检测】
            <li><a target="_blank" rel="noopener nofollow" href="https://coveryourtracks.eff.org/">Cover Your Tracks</a></li>
            <li><a target="_blank" rel="noopener nofollow" href="https://fingerprint.com/demo/">Fingerprint</a> </li>
            <li><a target="_blank" rel="noopener nofollow" href="https://amiunique.org/">Am I unique?</a> </li>
            <li><a target="_blank" rel="noopener nofollow" href="https://www.nothingprivate.ml/">Are you anonymous?</a> </li>
        </li>
        <li>
            【DNS】
            <a target="_blank" rel="noopener nofollow" href="https://nextdns.io/?from=qyq6n8p5">NextDNS</a>
            <a target="_blank" rel="noopener nofollow" href="https://adguard-dns.io/">AdGuard DNS</a>
            <a target="_blank" rel="noopener nofollow" href="https://whoer.net/zh/dns-leak-test">DNS泄露测试</a> 
            <a target="_blank" rel="noopener nofollow" href="https://www.gdnspc.com/">DNS解析检查</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.nslookuptool.com">2</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.whatsmydns.net">3</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://browserleaks.com/">BrowserLeaks</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.shodan.io/">Shodan Search Engine</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://search.censys.io/">Censys Search</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://fofa.info/">FOFA网络空间测绘系统</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://x.threatbook.com/">微步在线X情报社区</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.privacyguides.org/tools/">PrivacyGuides</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.privacytools.io/">PrivacyTools</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://cybermagicsec.github.io/privacytools-zh/">隐私工具</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://trackthis.link/">Track This</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://whotracks.me/">WhoTracksMe</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://spyware.neocities.org/articles/librewolf.html">Spyware Article</a></li>
    </ul>
</div>
