<div class="card">
    <div class="card-title">
        <li><a target="_blank" href="/article/program.html">编程</a></li>
    </div>
    <div class="card-content">
        <li><a target="_blank" rel="noopener nofollow" href="https://codebeautify.org/cpp-formatter-beautifier">C++格式化</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://cryptii.com/pipes/base64-to-text">Base64</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://devkits.dev/zh-CN/">Devkits</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://go.dev/play/">Golang</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://onecompiler.com/cpp">C++</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://sqids.org/playground">Sqids</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://texttools.org/sort-text">文本排序</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://tool.chinaz.com/tools/unicode.aspx">Unicode</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.diffchecker.com/text-compare/">文本差异对比</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.lddgo.net/encrypt/filehash">文件HASH计算</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.epochconverter.com/">时间戳</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.json.cn">JSON格式化</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.toolhelper.cn/Format/SQL">SQL格式化</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://zed.dev/download">Zed</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://lap.dev/lapce/">Lapce</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.cursor.com/">Cursor</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://code.visualstudio.com/">VSCode</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jetbrains.com/go/nextversion/">Goland EAP</a></li>
    </div>
</div>
