<div class="card">
    <div class="card-title">
        <li><a target="_blank" href="/article/program.html">编程</a></li>
    </div>
    <div class="card-content">
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://zed.dev/download">Zed</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" href="https://github.com/deevus/zed-windows-builds/releases">[windows]</a>
            </sup>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://code.visualstudio.com/">VSCode</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://codebeautify.org/cpp-formatter-beautifier">C++格式化</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://cryptii.com/pipes/base64-to-text">Base64</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://github.akams.cn/">Github Proxy</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://go.dev/play/">Golang</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://lap.dev/lapce/">Lapce</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://onecompiler.com/cpp">C++</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://sqids.org/playground">Sqids</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://tool.chinaz.com/tools/unicode.aspx">Unicode</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.cursor.com/">Cursor</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.epochconverter.com/">时间戳</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jetbrains.com/go/nextversion/">Goland EAP</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.json.cn">JSON格式化</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.toolhelper.cn/Format/SQL">SQL格式化</a></li>
    </div>
</div>
