<div>
    <ul>
        <li>>> 编程相关</li>
        <li><a target="_blank" rel="noopener nofollow" href="https://tool.chinaz.com/tools/unicode.aspx">Unicode</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://tool.chinaz.com/Tools/unixtime.aspx">时间戳</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://cryptii.com/pipes/base64-to-text">Base64</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" href="https://cryptii.com/pipes/base64-to-hex">同类1</a>
            </sup>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://code.visualstudio.com/">VSCode</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://go.dev/play/">Golang在线运行</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://cpp.compiler-explorer.com/">C++在线运行</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" href="https://www.tutorialspoint.com/compile_cpp11_online.php">同类1</a>
            </sup>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://codebeautify.org/cpp-formatter-beautifier">C++格式化</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.json.cn">JSON格式化</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://labs.kagi.com/fastgpt">FastGPT</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.aicodehelper.com/">AICodeHelper</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://chat.chatgptdemo.net/">GPTDemo</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://aibang.run/">AI帮个忙 | 多功能AI小帮手</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.promptboom.com/">PromptBoom</a></li>
    </ul>
</div>
