<div>
    <ul>
        <li>推广</li>
    </ul>
    <ul>
        <li><a target="_blank" rel="noopener nofollow" href="https://ypingcn.com/go/out?r=qiniu">【七牛云】新人免费试用 多款云产品长期免费使用，注册即享超值赠送</a></li>
    </ul>
    <ul>
        <li><a target="_blank" rel="noopener nofollow" href="https://ypingcn.com/go/out?r=tencentcloud">【腾讯云】新客户无门槛领取总价值高达2860元代金券，每种代金券限量500张，先到先得。</a></li>
    </ul>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6252206902371079" crossorigin="anonymous"></script>
    <!-- 横向书签广告 -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6252206902371079"
        data-ad-slot="8853503997"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>