<div class="card">
    <div class="card-title">
        <li>推广</li>
    </div>
    <div class="card-content">
        <div class="nav-content">
            <li>【七牛云】<a target="_blank" rel="nofollow" href="/go/affiliate?r=qiniu">七牛云 AI 大模型推理服务，疾速响应，始终在线。开放兼容 OpenAI API</a></li>
            <li>【腾讯云】<a target="_blank" rel="nofollow" href="/go/affiliate?r=tencentcloud">腾讯云会员专属权益，快来加入吧</a> </li>
            <li>【阿里云】<a target="_blank" rel="nofollow" href="/go/affiliate?r=aliyun">ECS节点2核2G3M固定带宽不限流量99元/年</a></li>
            <li>【阿里云】<a target="_blank" rel="nofollow" href="/go/affiliate?r=aliyun-minisite">上云优惠聚集地，云小站专属代金券可叠加产品折扣使用</a></li>
        </div>
    </div>
</div>