<div class="chaos-promotion">
    <div class="nav-content">
        <li>
            <img src="/assets/img/CA3.jpg" alt="icon" width="30">【推广】【腾讯云】<a target="_blank" rel="nofollow"
                href="https://ypingcn.com/go/out?r=tencentcloud">新客户无门槛领取总价值高达2860元代金券，先到先得。</a> 
        </li>
        <li>
            <img src="/assets/img/CA3.jpg" alt="icon" width="30">【推广】【七牛云】<a target="_blank" rel="nofollow"
                href="https://ypingcn.com/go/out?r=qiniu">新人免费试用 多款云产品长期免费使用，注册即享超值赠送</a>
        </li>
    </div>
    <br>
    <br>
    <div>
        <center>
            <!-- 横向书签广告 -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6252206902371079"
                data-ad-slot="8853503997" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </center>    
    </div>
    <br>
    <br>
</div>