<div class="search-bar">
    <center>
        <br>
        <div>
            <form action="" onsubmit="return false">
                <select class="search-select" id="search-engine"></select>
                <input class="search-input" type="text" id="search-content" placeholder="输入搜索内容" onkeydown="if(event.keyCode==13){toSearchPage()}">
                <button class="search-button" onclick="toSearchPage()" type="button"> 搜索 </button>
            </form>
        </div>
        <br>
    </center>
</div>