<div>
    <ul>
        <li>>> 常用搜索</li>
        <!-- <li>
            {% include nav/content/recommand-svg.html %}
            <img src="/assets/img/fsoufsou.ico" alt="icon" height="18">
            <a target="_blank" rel="noopener nofollow noreferrer" title="简单干净的搜索引擎，过滤广告和内容农场"
                href="https://fsoufsou.com">F 搜</a>
        </li> -->
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.google.com/ncr">谷歌搜索</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://cloudflareworkers.com/#12a9195720fe4ed660949efdbd9c0219:https://www.google.co.jp/">镜像1</a>
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://www.zwnes.live/">2</a>
            <!-- <a target="_blank" rel="noopener nofollow noreferrer" href="https://g.damfu.com/">5</a> -->
            <!-- <a target="_blank" rel="noopener nofollow noreferrer" href="https://github.com/librarycloud/list">Mirror List</a> -->
        </li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.ecosia.org/">Ecosia</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.baidu.com">百度搜索</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://global.bing.com/?ensearch=1">必应搜索</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.sogou.com">搜狗搜索</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.qwant.com/">Qwant</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://duckduckgo.com/">DuckDuckGo</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://glowstery.com/">Ghostery Glow</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://kagi.com/">Kagi Search</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://metager.org/">Metager</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://neeva.com/">Neeva</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://phind.com">Phind</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://presearch.com">Presearch</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://search.brave.com/">Brave Search</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://searx.be/">Searx Belgium</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://startpage.com/">Startpage</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://swisscows.com/en">Swisscows</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.mojeek.com/">Mojeek</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.yandex.com">Yandex</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://yep.com/">Yep</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://you.com/">You</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://beta.sayhello.so/">Hello</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.webcrawler.com/">WebCrawler</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.wolframalpha.com/">Wolfram</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://octave-online.net">Octave</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.sagemath.org">SageMath</a></li>
    </ul>
</div>