<div class="card">
    <div class="card-title">
        <li>常用搜索</li>
    </div>
    <div class="card-content">
        <li>
            <a target="_blank" rel="noopener nofollow noreferrer" href="https://www.google.com/ncr">谷歌</a>
            <sup>
                <a target="_blank" rel="noopener nofollow noreferrer" href="https://cloudflareworkers.com/#12a9195720fe4ed660949efdbd9c0219:https://www.google.co.jp/">镜像1</a>
            </sup>
            <!-- <sup>
                <a target="_blank" rel="noopener nofollow noreferrer" href="https://www.ckvmk.com/">镜像2</a>
            </sup> -->
        </li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.baidu.com">百度</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://global.bing.com/?ensearch=1">必应</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.sogou.com">搜狗</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.doubao.com">豆包</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://yuanbao.tencent.com/chat">腾讯元宝</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://kimi.moonshot.cn/">Kimi</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.cueme.cn/">Cueme</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://metaso.cn/">秘塔AI搜索</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://fsoufsou.com">F搜</a></li> -->
        <sup>
            <del>
                <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.so.com">[360搜索]</a></li>
            </del>
            <del>
                <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.sou.com/">[360AI搜索]</a></li>
            </del>
        </sup>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://devv.ai/zh">Devv</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://phind.com">Phind</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://you.com/">You</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://search.brave.com/">Brave Search</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://swisscows.com/en">Swisscows</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://duckduckgo.com/">DuckDuckGo</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.qwant.com/">Qwant</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.ecosia.org/">Ecosia</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://startpage.com/">Startpage</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.yandex.com">Yandex</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://glowstery.com/">Ghostery Glow</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://kagi.com/">Kagi</a></li> -->
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://metager.org/">Metager</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://neeva.com/">Neeva</a></li> -->
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://presearch.com">Presearch</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://searx.be/">Searx Belgium</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.mojeek.com/">Mojeek</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://yep.com/">Yep</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.webcrawler.com/">WebCrawler</a></li>
        <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://www.searchforjohn.com/">SearchForJohn</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow noreferrer" href="https://aoyo.ai/">AI Search</a></li> -->
    </div>
</div>