<div>
    <center>
        <br>
        <div>
            <form>
                <select id="search-engine" style="height: 30px;width: 100px;">
                    <option value="bing">必应搜索</option>
                    <option value="google">Google 搜索</option>
                    <option value="fsou">F 搜</option>
                    <option value="ddg">DuckDuckGo</option>
                    <option value="sogou">搜狗搜索</option>
                    <option value="qwant">QWant</option>
                    <option value="ecosia">Ecosia</option>
                </select>
                <input style="height: 30px;width: 500px;" type="text" id="search-content" placeholder="输入搜索内容">
                <button style="height: 30px;width: 100px;" onclick="toSearchPage()"> 搜索一下 </button>
            </form>
        </div>
        <br>
    </center>
</div>