<div>
    <ul>
        <li>>> 电子商务</li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.amazon.com">Amazon</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.ebay.com">eBay</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jd.com">京东</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.mi.com/">小米</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.muji.com.cn/">无印</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.paypal.com/c2/home">Paypal</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.pingpongx.com/zh">PingPong</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.suning.com">苏宁</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.taobao.com">淘宝</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.tmall.com">天猫</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.uniqlo.cn/">优衣</a></li>
    </ul>
</div>