<div>
    <ul>
        <!-- https://webnavigate.github.io/Software.html -->
        <li>>> 软件合集</li>
        <li>
            {% include nav/content/recommand-svg.html %}
            <a target="_blank" rel="noopener nofollow" href="https://www.fluentsearch.net/">Fluent Search</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.listary.com/">Listary</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://cryptomator.org/downloads/">Cryptormator</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://zh.snipaste.com/">Snipaste截图</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jianguoyun.com/">坚果云网盘</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://www.centbrowser.cn/">CentBrowser</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" title="快速下载最新 CentBrowser 浏览器" href="https://ypingcn.com/go/out?r=centbrowser-lastest">[最新版]</a>
            </sup>
        </li>
        <!-- <li><a target="_blank" rel="noopener nofollow" href="https://www.catsxp.com/zh-hans">CatsxpBrowser</a></li> -->
        <!-- <li><a target="_blank" rel="noopener nofollow" href="https://www.srware.net/iron/">SRWare Iron</a></li> -->
        <li><a target="_blank" rel="noopener nofollow" href="https://ungoogled-software.github.io/ungoogled-chromium-binaries/">Ungoogled-Chromium</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.qbittorrent.org/download">qBittorrent</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://bitwarden.com/">Bitwarden</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://github.com/microsoft/PowerToys/releases">PowerToys</a>
            <sup>
                <a href="magnet:?xt=urn:btih:d5f206da04dc27eda5e6500a7a0e3eb569c72318&dn=PowerToysUserSetup-0.74.0-x64.exe&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=https%3A%2F%2Ftracker.tamersunion.org%3A443%2Fannounce&tr=http%3A%2F%2Fbt.endpot.com%3A80%2Fannounce&tr=http%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&tr=udp%3A%2F%2Fopen.demonii.com%3A1337%2Fannounce&ws=https%3A%2F%2Fgithub.com%2Fmicrosoft%2FPowerToys%2Freleases%2Fdownload%2Fv0.74.0%2FPowerToysUserSetup-0.74.0-x64.exe">
                    PowerToysUserSetup-0.74.0-x64.exe BT(BitTorrent)下载地址
                </a>
            </sup>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://getquicker.net/">Quicker</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://spaceeye.app/">Space Eye</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://logseq.com/">Logseq</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://obsidian.md/">Obsidian</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://raindrop.io//">Raindrop.io</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://astrofox.io/">Astrofox</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jam-software.com/treesize_free">TreeSizeFree</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://devbuilds.s.kaspersky-labs.com/devbuilds/KVRT/latest/full/KVRT.exe">Kaspersky® Virus Removal Tool</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.kaspersky.com/anti-ransomware-tool">Kaspersky® Anti-Ransomware Tool</a></li>
    </ul>
</div>