<div>
    <ul>
        <!-- https://webnavigate.github.io/Software.html -->
        <li>>> 软件合集</li>
        <li>
            {% include nav/content/recommand-svg.html %}
            <img src="/assets/img/firefox.ico" alt="icon" height="18">
            <a target="_blank" rel="noopener" href="https://blog.ypingcn.com/special/firefox/resource/">火狐浏览器下载</a>
            <a target="_blank" rel="noopener nofollow" title="快速下载最新 Firefox 火狐浏览器国际中文版" href="https://ypingcn.com/go/out?r=firefox-lastest-zhcn">[下载]</a>
            <a target="_blank" rel="noopener nofollow" href="https://privacytests.org/">[浏览器保护功能对比]</a>
        </li>
        <li>
            {% include nav/content/recommand-svg.html %}
            <img src="/assets/img/librewolf.ico" alt="icon" height="18">
            <a target="_blank" rel="noopener nofollow" href="https://librewolf.net/">Librewolf 浏览器</a>
            <a target="_blank" rel="noopener nofollow" title="快速下载最新 Librewolf 浏览器" href="https://ypingcn.com/go/out?r=librewolf-windows-lastest">[下载]</a>
        </li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://floorp.ablaze.one/en/">Floorp 浏览器</a>
            <a target="_blank" rel="noopener nofollow" title="快速下载最新 Floorp 浏览器" href="https://ypingcn.com/go/out?r=floorp-windows-lastest">[下载]</a>
        </li>
        <li>
            {% include nav/content/recommand-svg.html %}
            <a target="_blank" rel="noopener nofollow" href="https://vivaldi.com/">Vivaldi 浏览器</a>
            <a target="_blank" rel="noopener nofollow" title="快速下载最新 Vavaldi 浏览器" href="https://ypingcn.com/go/out?r=vivaldi-lastest">[下载]</a>
        </li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://www.centbrowser.cn/">CentBrowser 百分浏览器</a>
            <a target="_blank" rel="noopener nofollow" title="快速下载最新 CentBrowser 浏览器" href="https://ypingcn.com/go/out?r=centbrowser-lastest">[下载]</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.catsxp.com/zh-hans">CatsxpBrowser 猫眼浏览器</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.srware.net/iron/">SRWare Iron 浏览器</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://ungoogled-software.github.io/ungoogled-chromium-binaries/">Ungoogled-Chromium 浏览器</a></li>
        <li>
            {% include nav/content/recommand-svg.html %}
            <a target="_blank" rel="noopener nofollow" href="https://www.listary.com/">Listary</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.fluentsearch.net/">Fluent Search</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://cryptomator.org/downloads/">Cryptormator</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://zh.snipaste.com/">Snipaste 截图</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jianguoyun.com/">坚果云网盘</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://onedrive.live.com">OneDrive</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://bbs.kafan.cn">卡饭论坛</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://getquicker.net/">Quicker</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://spaceeye.app/">Space Eye</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://logseq.com/">Logseq</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://obsidian.md/">Obsidian</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://astrofox.io/">Astrofox</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jam-software.com/treesize_free">TreeSizeFree</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://devbuilds.s.kaspersky-labs.com/devbuilds/KVRT/latest/full/KVRT.exe">KVRT</a></li>
    </ul>
</div>