<div>
    <ul>
        <li><a target="_blank" rel="noopener nofollow" href="https://webnavigate.github.io/Software.html">手机电脑</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.listary.com/">Listary</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://cryptomator.org/downloads/">Cryptormator</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://zh.snipaste.com/">Snipaste</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jianguoyun.com/">坚果云</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.lanzou.com/">蓝奏盘</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://onedrive.live.com">OneDrive</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://bbs.kafan.cn">卡饭</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://getquicker.net/">Quicker</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://spaceeye.app/">Space Eye</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://logseq.com/">Logseq</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://astrofox.io/">Astrofox</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.jam-software.com/treesize_free">TreeSizeFree</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://devbuilds.s.kaspersky-labs.com/devbuilds/KVRT/latest/full/KVRT.exe">KVRT(Kaspersky Virus Removal Tool)</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://librewolf.net/">Librewolf 浏览器</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://ungoogled-software.github.io/ungoogled-chromium-binaries/">Ungoogled-Chromium 浏览器</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://floorp.ablaze.one/en/">Floorp 浏览器</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.centbrowser.cn/">CentBrowser[百分浏览器]</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.catsxp.com/zh-hans">CatsxpBrowser[猫眼浏览器]</a>
        </li>
    </ul>
</div>