<div>
    <ul>
        <li>实用工具</li>
        <li><a target="_blank" rel="noopener nofollow" href="https://transferkit.io/">IPFS文件上传</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.wenshushu.cn/">文叔叔</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://wormhole.app/">WormHole</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://send.vis.ee/">Send</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://anonfiles.com/">Anonfiles</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.crx4chrome.com/">Crx4Chrome</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.crxsoso.com/">Crx搜搜</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://eeooc.com/">临时邮箱</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://speedtest.ecnu.edu.cn/">校园网测速</a>
            <a target="_blank" rel="noopener nofollow" href="http://speed.neu6.edu.cn/">IPV6版</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://docsmall.com/">图片压缩</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://slowapi.com/merge-videos-files/">视频合并</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.remove.bg/zh">背景图片消除</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.cilin.org/zidian/shouxie.html">手写查字典</a></li>
        
        <li><a target="_blank" rel="noopener nofollow" href="https://diagram.futils.com/">在线流程图制作</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="http://www.kawa.net/works/ajax/romanize/hangul-e.html">韩语罗马音</a>
            <a target="_blank" rel="noopener nofollow" href="http://www.ch2ko.com/luomazi/">2</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://wantwords.net/">汉语反向词典</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://radar.cloudflare.com/">Cloudflare Radar</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://bing.ioliu.cn/">必应每日高清壁纸</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="http://worldwidetelescope.org/webclient/">WorldWide Telescope Web Client</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://globalsequencer.com/">Global Sequencer（世界声音）</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.similarweb.com/website/trovo.live/#overview">SimilarWeb同类网站对比</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.lastpass.com/features/password-generator">Lastpass密码生成器</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.ezcv.pro/builder">在线简历生成</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://builtwith.com/ypingcn.com">网站技术分析工具</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://web.archive.org/">Wayback Machine网页历史</a></li>
        <li>
            【导航网站】
            <a target="_blank" rel="noopener nofollow" href="https://www.jianfast.com/">简法主页</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.moulem.com/">某柠檬</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.moulem.com/j.html">简约版</a>
            <a target="_blank" rel="noopener nofollow" href="https://limestart.cn/">青柠起始页</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="http://radio.garden">Radio Garden收听全球收音机内容</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.yozodcs.com/page/example.html">在线文档格式转换</a></li>
    </ul>
</div>
