<div class="card">
    <div class="card-title">
        <li>工具</li>
    </div>
    <div class="card-content">
        <li><a target="_blank" href="/article/software.html">【更多软件】</a></li>
        <li><a target="_blank" href="/article/privacy.html">【更多工具】</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://fanyi.youdao.com/indexLLM.html#/">有道翻译</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://translate.google.com">谷歌翻译</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.deepl.com/translator">DeepL翻译</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://translate.kagi.com/">Kagi翻译</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.wenshushu.cn/">文叔叔文件分享</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://send.vis.ee/">Send</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://wormhole.app/">WormHole</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://anonfiles.me/">Anonfiles</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow" href="https://new.space/">new.space</a></li> -->
        <!-- <li><a target="_blank" rel="noopener nofollow" href="https://offcloud.com/">Offcloud</a></li> -->
        <li><a target="_blank" rel="noopener nofollow" href="https://www.crxsoso.com/">Crx搜搜</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://convertio.co/zh/image-converter/">图片格式转换</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://docsmall.com/">图片文件压缩合并</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://slowapi.com/merge-videos-files/">视频合并</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://txttool.cn/sort/">文本排序</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://hlsdownloader.thetuhin.com/">HLS-Downloader</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" href="https://www.yeyulingfeng.com/tools/m3u8-downloader/">1</a>
            </sup>
            <!-- <sup>
                <a target="_blank" rel="noopener nofollow" href="https://blog.luckly-mjw.cn/tool-show/m3u8-downloader/index.html">2</a>
            </sup> -->
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.lddgo.net/encrypt/filehash">文件HASH计算</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.remove.bg/zh">背景图片消除</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.cilin.org/zidian/shouxie.html">手写查字典</a></li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://www.kawa.net/works/ajax/romanize/hangul-e.html">韩语罗马音</a>
            <sup>
                <a target="_blank" rel="noopener nofollow" href="http://www.ch2ko.com/luomazi/">1</a>
            </sup>
            <a target="_blank" rel="noopener nofollow" href="https://www.2hanyu.com/hanyujianpan.html">韩语在线键盘</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://dailybing.com/">每日必应壁纸</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://globalsequencer.com/">世界声音</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://metrodb.org/index/guangzhou.html">城市地铁客流查询</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://radio.garden">Radio Garden收听全球收音机内容</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://wantwords.net/">汉语反向词典</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://worldwidetelescope.org/webclient/">万维望远镜</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://easycv.cn">在线简历生成</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.mywifisign.com/zh-hans">WiFi二维码制作</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://hizdm.cn/city/guangzhou/">税后工资计算器</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://trackerslist.com/#/zh">TrackersList</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://privtracker.com/">PrivTracker</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://webtor.io/#/">BT磁力链接在线下载</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://github.com/eallion/uBlacklist-subscription-compilation">uBlacklist订阅地址合集</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://docker.xuanyuan.me/">轩辕镜像</a></li>
        <!-- <li><a target="_blank" rel="noopener nofollow" href="https://web.archive.org/">Wayback Machine网页历史</a></li> -->
    </div>
</div>
