<footer>
{% if page.track %}
<!-- {% include howxm.html %} -->
<!-- {% include clarityms-script.html %} -->
{% endif %}
<center>
    <span id="ip-geo-meta"></span>
</center>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('https://api.ypingcn.com/worker/ip-geo')
            .then(response => response.json())
            .then(data => {
                const metaSpan = document.getElementById('ip-geo-meta');
                metaSpan.innerHTML = `${data.requestId}##${data.ip}##${data.ua}`;
            })
            .catch(error => {
                console.error('error fetching ip-geo info', error);
            });
    });
</script>
</footer>