<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="DBEA5FE38EFA4F1453FBE81340557E61" />
    <title>{{ page.title }}</title>
    {% if page.noindex %}
    <meta name="robots" content="noindex">
    {% endif %}
    {% if page.track %}{% include 51la-script.html %}{% include ads-script.html %}{% endif %}
    {% include nav/static/css.html %}
</head>