<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="data:,">
    <meta name="robots" content="noarchive">
    <title>{{ page.title }}</title>
    {% if page.noindex %}
    <meta name="robots" content="noindex">
    {% endif %}
    <meta name="keywords" content="混沌书签，书签分享，网站导航，简洁启动页，资源分享，效率工具收藏，浏览器下载，火狐浏览器下载，实用工具">
    <meta name="description" content="欢迎访问混沌书签，一个提高效率、分享优质信息与资源收藏的简洁导航">
    {% include nav/static/css.html %}
    {% include nav/static/js.html %}
    {% if page.track %}
    {% include ads-script.html %}
    {% endif %}
</head>