<div>
    <ul>
        <li>上网相关</li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://blog.ypingcn.com/special/firefox/resource/">浏览器</a>
            <a target="_blank" rel="noopener nofollow" href="https://privacytests.org/">[对比]</a>
        </li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://www.kaspersky.com.cn/free-antivirus">杀毒</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.huorong.cn/">[火绒]</a>
        </li>
        <li>
            【可疑文件扫描】
            <a target="_blank" rel="noopener nofollow" href="https://virusscan.jotti.org/zh-CN/scan-file">Jotti</a>
            <a target="_blank" rel="noopener nofollow" href="https://s.threatbook.cn/">微步</a>
            <a target="_blank" rel="noopener nofollow" href="https://sandbox.freebuf.com/detect">大圣云沙箱检测系统</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.virustotal.com/gui/home/upload">VirusTotal</a>
            <a target="_blank" rel="noopener nofollow" href="https://sandbox.ti.qianxin.com/sandbox/page">奇安信</a>
            <a target="_blank" rel="noopener nofollow" href="https://ata.360.net/detection">360沙箱云</a>
            <a target="_blank" rel="noopener nofollow" href="https://opentip.kaspersky.com/">卡巴斯基</a>
            <a target="_blank" rel="noopener nofollow" href="https://metadefender.opswat.com/">MetaDefender</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.privacytools.io/#2fa">2FA</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.privacytools.io/#windows">Windows安全</a> </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://statistics.securelist.com/">SecureList</a> </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://coveryourtracks.eff.org/">浏览器指纹检测</a> </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://fingerprint.com/demo/">Fingerprint Pro[浏览器唯一检测]</a> </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://amiunique.org/">Am I unique?</a> </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.nothingprivate.ml/">Are you anonymous?</a> </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://browserleaks.com/">BrowserLeaks</a> </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://whoer.net/zh/dns-leak-test">DNS泄露测试</a> </li>
        <li>
            <a target="_blank" rel="noopener nofollow" href="https://www.gdnspc.com/">DNS解析检查</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.nslookuptool.com">2</a>
            <a target="_blank" rel="noopener nofollow" href="https://www.whatsmydns.net">3</a>
        </li>
        <li><a target="_blank" rel="noopener nofollow" href="https://adguard-dns.io/">ADGUARD DNS</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://nextdns.io/?from=qyq6n8p5">NextDNS</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.privacyguides.org/tools/">PrivacyGuides</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://www.privacytools.io/">PrivacyTools</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://cybermagicsec.github.io/privacytools-zh/">隐私工具</a></li>
        <li><a target="_blank" rel="noopener nofollow" href="https://trackthis.link/">Track This</a></li>
    </ul>
</div>