<script>
    function _howxm(){_howxmQueue.push(arguments)}
    window._howxmQueue=window._howxmQueue||[];
    _howxm('setAppID','cb238625-b55d-4ba6-be4a-c951d9dc90f0');
    (function(){var scriptId='howxm_script';
    if(!document.getElementById(scriptId)){
    var e=document.createElement('script'),
    t=document.getElementsByTagName('script')[0];
    e.setAttribute('id',scriptId);
    e.type='text/javascript';e.async=!0;
    e.src='https://static.howxm.com/sdk.js';
    t.parentNode.insertBefore(e,t)}})();
</script>