<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="data:,">
    <meta name="robots" content="noarchive">
    <title>{{ page.title }}</title>
    <meta name="keywords" content="混沌书签，在线工具箱，浏览器执行">
    <meta name="description" content="欢迎访问混沌书签在线工具箱，一个提高效率、信息保护隐私优先的在线浏览器工具箱">
{% include spa/static/css.html %}
{% include spa/static/js.html %}
{% include ads-script.html %}
{% include umami.html %}
{% include 51la.html %}
</head>