<style>
    body {
        color: #000000;
        line-height: 1.6em;
        box-sizing: border-box;
        margin: auto;
        background: #fefefe;
    }

    ul {
        padding: 2px;
        border-bottom: 1px solid #eee
    }

    li {
        color: black;
        display: inline;
        margin-left: 6px;
        margin-right: 6px
    }

    a {
        text-decoration: none;
        margin-left: 2px;
        margin-right: 2px
    }

    a:link,
    a:active {
        color: #0078cc
    }

    a:hover {
        color: #333;
        background-color: #ccc
    }

    a:visited {
        color: #a2f
    }

    .horizontal-ads {
        max-width: 900px;
        max-height: 100px;
    }

    @media screen and (min-width:1400px) {
        .nav-item {
            display: flex;
        }

        .nav-content {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
        }

        .nav-ad-content {}

        .nav-ads {
            min-width: 300px;
            min-height: 250px;
            max-width: 300px;
            max-height: 600px;
        }
    }


    @media screen and (max-width:800px) {
        .nav-ads {
            display: none;
        }
    }
</style>