<script>
    var searchEngineData = new Map(
        [
            ["baidu", "https://www.baidu.com/baidu?tn=monline_7_dg&ie=utf-8&wd="],
            ["bing", "https://www.bing.com/search?form=MOZLBR&pc=MOZR&q="],
            ["brave", "https://search.brave.com/search?source=web&q="],
            ["ddg", "https://duckduckgo.com/?t=ftsa&q="],
            ["ecosia", "https://www.ecosia.org/search?method=index&q="],
            ["google", "https://www.google.com/search?client=firefox-b-d&q="],
            ["qwant", "https://www.qwant.com/?q="],
            ["sogou", "https://www.sogou.com/web?query="],
        ]
    )

    function toSearchPage() {
        var searchEngine = document.getElementById("search-engine").value;
        var searchContent = document.getElementById("search-content").value;
        if (searchContent == "") {
            console.log("no search content... ")
            return;
        }
        var searchEnginePrefix = searchEngineData.get(searchEngine);
        if (searchEnginePrefix == "")
            searchEnginePrefix = searchEngineData.get("ecosia");
        var searchEngineUrl = searchEnginePrefix + searchContent;
        console.log("visiting... ", searchEngineUrl)
        window.open(searchEngineUrl, '_blank');
    }
</script>