    <script defer type="text/javascript" src="/static/js/meta.js" data-app-id="spa-IBNSROE"></script>
    <script>
        document.addEventListener('DOMContentLoaded',function(){const currentPath=window.location.pathname;const navLinks=document.querySelectorAll('.spa-nav-link');navLinks.forEach(function(link){const linkPath=link.getAttribute('href');if(currentPath.includes(linkPath)||(linkPath==='/spa/'&&currentPath==='/spa/')||(linkPath==='/spa/'&&currentPath==='/spa/index.html')){link.classList.add('active')}})});
    </script>