<!DOCTYPE html>
<html lang="zh-cn">
{% include article/head.html %}
<!-- hack iOS CSS :active style -->

<body ontouchstart="">
    <header>
        <nav class="navbar">
            <span class="navbar-item"><a class="nav-btn" href="/article/">Index</a></span>
            <span class="navbar-item"><a class="nav-btn" href="/article/newsletter.html">Newsletter</a></span>
            <span class="navbar-item"><a class="nav-btn" href="/article/entertainment.html">Entertainment</a></span>
        </nav>
    </header>
    <div>
        <h5>[页内广告]</h5>
        <ul>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?cdivent=ca-pub-6252206902371079" crossorigin="anonymous"></script>
            <!-- 横向书签广告 -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-cdivent="ca-pub-6252206902371079"
                data-ad-slot="8853503997"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </ul>
    </div>
    {{ content }}
</body>

</html>