<!DOCTYPE html>
<link rel="icon" href="data:,">
<html lang="zh-cn">
{% include article/head.html %}
<!-- hack iOS CSS :active style -->
<body ontouchstart="">
    <header>
        <nav class="navbar">
            <span class="navbar-item"><a class="nav-btn" href="/article/">首页</a></span>
            <span class="navbar-item"><a class="nav-btn" href="/article/entertainment.html">娱乐</a></span>
            <span class="navbar-item"><a class="nav-btn" href="/article/newsletter.html">Newsletter通讯</a></span>
            <span class="navbar-item"><a class="nav-btn" href="/article/podcast.html">Podcast播客</a></span>
            <span class="navbar-item"><a class="nav-btn" href="/article/finance.html">金融</a></span>
            <span class="navbar-item"><a class="nav-btn" href="/article/fund.html">基金</a></span>
            <span class="navbar-item"><a class="nav-btn" href="/article/program.html">编程</a></span>
            <span class="navbar-item"><a class="nav-btn" href="/article/category.html">文章目录</a></span>
            <span class="navbar-item"><a class="nav-btn" href="/">关于本站</a></span>
        </nav>
    </header>
    <div>
        <h5>[页内广告]</h5>
        <center>
            <ul>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?cdivent=ca-pub-6252206902371079" crossorigin="anonymous"></script>
                <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
                    data-ad-client="ca-pub-6252206902371079" data-ad-slot="3481060992"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </ul>
        </center>
        <h5>[正文]</h5>
    </div>
    {{ content }}
</body>
{% include article/footer.html %}
</html>